.building-list-container {
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.search-field {
  width: 100%;
}

.spinner {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

table {
  width: 100%;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.public-icon {
  font-size: 16px;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  opacity: 0.6;
  margin-left: 0.5rem;
}
